# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
    python: python3.8  # pinned until pytype issue resolved
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
-   repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
    -   id: isort
        args: [--profile, black]
-   repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
    -   id: black
-   repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
    -   id: flake8
-   repo: https://github.com/mattseymour/pre-commit-pytype
    rev: '2022.4.26'
    hooks:
    -   id: pytype
        args: ['--disable=pyi-error,import-error', '--exclude=tests']
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.0.0'
    hooks:
    -   id: mypy
        additional_dependencies: [types-mock]
