name: Continuous Integration
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the tests container using cache
        uses: whoan/docker-build-with-cache-action@tag-image-as-a-separate-step
        with:
          username: "${{ secrets.DOCKER_USERNAME }}"
          password: "${{ secrets.DOCKER_PASSWORD }}"
          # We will only be logged in on push, not on PR:
          push_image_and_stages: ${{ env.GITHUB_EVENT_NAME }} == 'push'
          image_name: jstockwin/py-pdf-parser-test
          image_tag: test
          dockerfile: dockerfiles/Dockerfile_tests
  lint:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2
      - name: Run linting
        run: docker run --rm jstockwin/py-pdf-parser-test:test .github/scripts/lint.sh
  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2
      - name: Run test
        run: docker run --rm jstockwin/py-pdf-parser-test:test .github/scripts/test.sh
  docs:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2
      - name: Check docs build correctly
        run: docker run --rm jstockwin/py-pdf-parser-test:test .github/scripts/docs.sh
